<h1>Listing people</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Role</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |ticket| %>
  <tr>
    <td><%= ticket.name %></td>
    <td><%= ticket.role %></td>
    <td><%= link_to 'Show', ticket %></td>
    <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
    <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New person', new_person_path %>